<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dojo/add" method="POST">
        <label for="name">Dojo Name</label>
        <input type="text" name="dojoname">
        <button type="submit">Add Dojo</button>
    </form>
    <h1>All Dojos</h1>
    {% for d in dojos %}
    <p>
        <a href="/show/ninjas/{{d.id}}">{{d.name}}</a>
    </p>
    {%endfor%}

    <a href="/new/ninja">Add Ninja</a>
</body>
</html>